/workspace
/projects/artemis-core/.classpath
/projects/artemis-core/.project
/projects/artemis-core/.settings
/projects/artemis-core/target/*
/projects/artemis-core/bin/*


/projects/artemis-dao/.classpath
/projects/artemis-dao/.project
/projects/artemis-dao/.settings
/projects/artemis-dao/target/*


/projects/artemis-service/.classpath
/projects/artemis-service/.project
/projects/artemis-service/.settings
/projects/artemis-service/target/*


/projects/artemis-log/.classpath
/projects/artemis-log/.project
/projects/artemis-log/.settings
/projects/artemis-log/target/*
/projects/artemis-log/bin/*

/projects/artemis-spiders/.classpath
/projects/artemis-spiders/.project
/projects/artemis-spiders/.settings
/projects/artemis-spiders/target/*
/projects/artemis-spiders/bin/*

/projects/artemis-spiderling/.classpath
/projects/artemis-spiderling/.project
/projects/artemis-spiderling/.settings
/projects/artemis-spiderling/target/*

/projects/artemis-task/.classpath
/projects/artemis-task/.project
/projects/artemis-task/.settings
/projects/artemis-task/target/*
/projects/artemis-task/bin/*

/projects/artemis-bkoff/.classpath
/projects/artemis-bkoff/.project
/projects/artemis-bkoff/.settings
/projects/artemis-bkoff/target/*
/projects/artemis-bkoff/bin/*


/projects/artemis-plugin/.classpath
/projects/artemis-plugin/.project
/projects/artemis-plugin/.settings
/projects/artemis-plugin/target/*
/projects/artemis-plugin/bin/*




